<html>
    <head>
        <title>Naina's blog</title>
    </head>
    <body style="padding:20px">
      <style>
        body {font-family: Garamond;}
      </style>

        <div style="background-color:rgb(0,77,77);color:white;">
          <center>
            <h1><a href="">Naina's Blog</a></h1>
          </center>
        </div>

        <div>
            <h2><a href="">Welcome</a> </h2>
            <p> published: 14.06.2014, 12:14</p>
            <p> Hi! Welcome to my blog. Here, you will learn about a, b, and c. It'll be fun! Woohoo. </p>
        </div>

        <div>
            <h2><a href="">About the Creator</a></h2>
            <p>published: 14.06.2014, 12:15</p>
            <p> Welcome back! If you want to learn more about the creator of this blog, keep on reading!
              </p>
        </div>
    </body>
</html>
